{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    "@semantic-release/changelog"
{{- with index .Vars "semantic_release" -}},
    ["@semantic-release/github"
    {{- with index . "assets" -}},
      {"assets": {{ . | toJson }}}
    {{- end }} 
    ]
{{- end }}  
  ]
}