{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog"
{{- with index .Vars.semantic_release "exec" -}},
    ["@semantic-release/exec", {{ index .Vars.semantic_release "exec" | toJson }}]
{{- end -}}
{{- with index .Vars.semantic_release "github" -}},
    ["@semantic-release/github", {{ index .Vars.semantic_release "github" | toJson }}]
{{- end }}
{{- if not (index .Vars.semantic_release "github") }},
    "@semantic-release/github"
{{- end }}  
  ]
}