{
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog"
{{- with index .Vars.semantic_release "exec" -}},
    ["@semantic-release/exec", {{ . | toJson }}]
{{- end -}}
{{- if index .Vars.semantic_release "github" -}},
    ["@semantic-release/github", {{ index .Vars.semantic_release "github" | toJson }}]
{{ else }},
    "@semantic-release/github"
{{- end }}  
  ]
}