[defaults]
interpreter_python      = auto
# default inventory
{{- if .Vars.ansible.inventory }}
inventory               = {{ .Vars.ansible.inventory  }}
{{- end }}
# Delete roles folder for debugging in ./.ext_roles/ and keep in roles/
roles_path              = ./.ext_roles:./roles
sudo_user               = root
remote_user             = root
transport               = ssh
host_key_checking       = False
remote_tmp              = /tmp/ansible-$USER
{{- if .Vars.ansible.auto_tag }}
callback_plugins        = plugins/callbacks
callback_whitelist      = auto_tag
{{- end }}
# Custom configs (in .manala.yaml)
{{- range $key, $cfg := .Vars.ansible.cfg_lines }}
{{ $key }} = {{ $cfg }}
{{- end }}

[privilege_escalation]
become                  = True
become_method           = sudo
become_user             = root
become_ask_pass         = False

[ssh_connection]
pipelining              = True
